<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apple_Taptic_Engine_Rewrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apple_Taptic_Engine_Rewrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Apple_Taptic_Engine_Rewrite.Properties.Settings>
            <setting name="LAST_VALUE" serializeAs="String">
                <value />
            </setting>
            <setting name="MODEL_TYPE" serializeAs="String">
                <value />
            </setting>
        </Apple_Taptic_Engine_Rewrite.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Apple_Taptic_Engine_Rewrite.Properties.Settings>
            <setting name="SERIAL_BAUDRATE" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="KEY_7_7P" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="KEY_8_8P_X_XR" serializeAs="String">
                <value>B</value>
            </setting>
        </Apple_Taptic_Engine_Rewrite.Properties.Settings>
    </applicationSettings>
</configuration>